* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  #__next {
    width: 100%;
    position: relative;
    .home {
      position: absolute;
      top: 0;
      left: 0;
    }
    .popup {
      position: absolute;
      width: 100%;
      height: 100%;
      display: none;
      z-index: 9999;
      left: 0;
      top: 0;
    }
    .on {
      display: block;
      position: fixed;
      width: 100vw;
      height: 100vh;
      > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        background-color: rgba(128, 128, 128, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        > p {
          text-align: center;
        }
        > div {
          display: flex;
          > p {
            cursor: pointer;
            &:nth-of-type(1) {
              margin-right: 10px;
            }
          }
        }
      }
    }
    .layout {
      display: flex;
      flex-wrap: wrap;
      > div {
        width: 25%;
        text-align: center;
        > figure {
          img {
            width: 100%;
          }
        }
        figcaption {
          > p {
            cursor: pointer;
            display: inline-block;
          }
        }
      }
    }
    .blur {
      filter: blur(2px);
    }
  }
}